{% extends 'layout/admin.html.twig' %}

{% block title %}Add User{% endblock %}

{% block mini %}sidebar-mini {% endblock %}

{% block page_title %}<i class="fas fa-user-plus nav-icon"></i> Add User{% endblock %}

{% block content %}
    <!-- general form elements -->
    {% for message in app.flashes('user_add') %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Message</h4>
            <p>{{message}}</p>
            <p class="mb-0"></p>
        </div>
    {% endfor %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Add User</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        {{ form_start(registrationForm) }}
            <div class="card-body">
                <div class="form-group">
                    {{form_label(registrationForm.name)}}
                    {{ form_widget(registrationForm.name,{'attr':{'class':'form-control'}})}}
                </div>
                <div class="form-group">
                    {{form_label(registrationForm.email)}}
                    {{ form_widget(registrationForm.email,{'attr':{'class':'form-control'}})}}
                </div>

                <div class="form-group">
                    {{form_label(registrationForm.roles)}}
                    {{ form_widget(registrationForm.roles,{'attr':{'class':'form-control'}})}}
                </div>

                <div class="form-group">
                    <label for="plainPassword">Password</label>
                    {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'form-control'}})}}
                </div>

                <div class="card-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>
            <!-- /.card-body -->
        {{ form_end(registrationForm) }}
    </div>
    <!-- /.card -->

{% endblock %}