{% extends 'layout/admin.html.twig' %}

{% block title %}Users{% endblock %}

{% block mini %}sidebar-mini {% endblock %}

{% block page_title %}<i class="fas fa-user nav-icon"></i>  Users{% endblock %}

{% block content %}
    {% for message in app.flashes('user_delete','user_update') %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Message</h4>
            <p>{{message}}</p>
            <p class="mb-0"></p>
        </div>
    {% endfor %}

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Bordered Table</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th style="width: 40px">Roles</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td><strong>
                            {% for role in user.roles %}
                                {{ role }}
                            {% endfor %}
                        </strong>

                    </td>
                    <td>
                        <a class="btn btn-warning" href="{{ path('editUser',{'id': user.id }) }}">Edit</a>
                        <a class="btn btn-danger" href="{{ path('deleteUser',{'id': user.id }) }}">Delete</a>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
