{% extends 'layout/admin.html.twig'%}

{% block title %}Hello {{app.user.name}}{% endblock %}

{% block mini %}sidebar-mini {% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <h3> <i class="fas fa-ship"></i>Hello, {{app.user.name}}</h3>
            <p>This is an Ordering System.</p>
        </div>
    </div>
{% endblock %}
